<main>
    <div class="content">
      <h1>Financial life</h1>
      <h3>Learn how to manage your money</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad molestias voluptatem odio. Omnis nulla nobis cupiditate quaerat, tempora incidunt beatae reprehenderit, accusamus consectetur, quod rem! Aut odit reprehenderit ducimus sunt.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad molestias voluptatem odio. Omnis nulla nobis cupiditate quaerat, tempora incidunt beatae reprehenderit, accusamus consectetur, quod rem! Aut odit reprehenderit ducimus sunt.</p>
      <app-btn text="get start" routerLink="/finance"></app-btn>
    </div>
    <aside>
      <img src="../../../assets/Group 2(1).svg" alt="balança relacionando homem ao dinheiro">  
    </aside>
  </main>
